---
layout: default
title: Home
---

<section class="post-list">
  <div class="container">
      {% for category in site.categories %}
        {% if category[0] == "english" %}
          {% for post in category[1] %}
            <article class="post-item">
              <div class="article-title">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
              </div>
            </article>
          {% endfor %}
        {% endif %}
      {% endfor %}
  </div>

</section>


