<section class="intro">
  <div class="container">
    <p class="lead">Hành trình kết nối những trái tim ♥♥♥</p>
    <!-- 
    <p class="lead">Tôi ở đây với mục đích chém gió về Web development, Ruby on Rails và cuộc sống. Thường thì tôi sẽ đọc một số bài viết để cập nhật và bổ sung kiến thức và nếu có gặp thứ gì đó hay ho, tôi sẽ cố gắng dịch lại và đưa nó lên blog này. Đôi khi tôi cũng sẽ viết về kinh nghiệm của chính bản thân mình, mong rằng chúng sẽ có ích cho bạn!</p> -->  

    
  </div>
</section>
